header {
    display: flex;
    height: 150px;
}

.Cabecera img {
    width: -webkit-fill-available;
}

main {
    display: flex;
    height: 498px;
    background: #343233;
}

.boxes {
    cursor: pointer;
    text-decoration: none;
    color: transparent;
}

.boton1 {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: transparent;
    align-items: center;
}

.boton2 {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: transparent;
    align-items: center;
}

.boton1 img {
    transform: rotate(90deg);
}

.boton2 img {
    transform: rotate(-90deg);
}

.imgCocktail {
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
}

.imgCocktail2 {
    border: 5px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}

footer {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(180deg, rgba(52, 50, 51, 1) 20%, rgba(90, 80, 64, 1) 40%, rgba(223, 186, 109, 1) 100%);
}

footer p {
    margin-top: 59px;
    color: rgb(59, 59, 59);
}

body {
    margin: 8px;
}